.advantages {
  margin: auto;
  width: 1440px;
  min-height: 569px;
  padding-top: 120px;
}
h2 {
  width: 300px;
  height: 50px;
  font-size: 40px;
  margin: 0px 560px 20px;
}
hr {
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin: 0 670px 80px;
}
.support {
  display: inline-block;
  width: 290px;
  height: 180px;
  margin-left: 105px;
  margin-right: 15px;
}
.support-image {
  margin: 0 110px 50px;
}
.support-text {
  margin: 0px 100px;
}
.communicate {
  display: inline-block;
  width: 290px;
  height: 180px;
  margin-right: 15px;
}
.communicate-image {
  margin: 0 100px 50px;
}
.communicate-text {
  margin: 0px 70px;
}
.booking {
  display: inline-block;
  width: 290px;
  height: 180px;
  margin-right: 15px;
}
.booking-image {
  margin: 0 100px 50px;
}
.booking-text {
  margin: 0px 105px;
}
.reviews {
  display: inline-block;
  width: 290px;
  height: 180px;
  margin-right: 105px;
}
.reviews-image {
  margin: 0 100px 50px;
}
.reviews-text {
  margin: 0px 80px;
}
