@import url("../triphouse/styles/fonts.css");

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 100px;
}
.title {
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  font: 500 40px "Roboto", sans-serif;
}
hr {
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin-bottom: 80px;
  text-align: center;
  border: none;
}
.support {
  display: flex;
  justify-content: space-between;
}
.support-info {
  display: inline-block;
  width: 25%;
}
.image {
  margin: 0 115px 50px;
}
.text {
  text-align: center;
  margin: 0 auto;
  font: 400 24px "Roboto", sans-serif;
}
.communicate {
  display: inline-block;
  width: 25%;
}

.booking {
  display: inline-block;
  width: 25%;
}

.reviews {
  display: inline-block;
  width: 25%;
}

.wrapper {
  background-color: #10367c;
  padding: 120px 105px;
}
.footer {
  width: 100%;
  color: #fff;
}
.info {
  display: flex;
  align-items: flex-start;
}
.about {
  font: 400 20px "Roboto", sans-serif;
  margin-right: 220px;
}
.about-title {
  font: 500 20px "Roboto", sans-serif;
}
.types {
  font: 400 20px "Roboto", sans-serif;
  margin-right: 280px;
}
.types-title {
  font: 500 20px "Roboto", sans-serif;
}
.contact {
  font: 400 20px "Roboto", sans-serif;
  width: 240px;
}
.support-title {
  font: 500 20px "Roboto", sans-serif;
}
.copyright {
  font: 400 20px "Roboto", sans-serif;
}
