@import url('../triphouse/styles/fonts.css');

.container{
  max-width: 1440px;
  margin: 0 auto;
}
.advantages {
  margin: auto;
  width: 1440px;
  min-height: 569px;
  padding-top: 120px;
}
.title {
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  font: 500 40px 'Roboto', sans-serif;
}
hr {
  width: 100px;
  height: 4px;
  background: #f5bd41;
  margin-bottom: 80px;
  text-align: center;
  border: none;
}
.support{
    display: flex;
    justify-content: space-between;
}
.support-info {
  display: inline-block;
  width: 25%;
  height: 180px;
}
.support-image {
  margin: 0 140px 50px;
}
.support-text {
  text-align: center;
  font: 400 24px 'Roboto', sans-serif;
}
.communicate {
  display: inline-block;
  width: 25%;
  height: 180px;
}
.communicate-image {
  margin: 0 130px 50px;
}
.communicate-text {
  text-align: center;
  font: 400 24px 'Roboto', sans-serif;
}
.booking {
  display: inline-block;
  width: 25%;
  height: 180px;
}
.booking-image {
  margin: 0 130px 50px;
}
.booking-text {
  text-align: center;
  font: 400 24px 'Roboto', sans-serif;
}
.reviews {
  display: inline-block;
  width: 25%;
  height: 180px;
}
.reviews-image {
  margin: 0 130px 50px;
}
.reviews-text {
  text-align: center;
  font: 400 24px 'Roboto', sans-serif;
}
.wrapper{
  background-color: #10367C;
}
.footer{
    max-height: 630px;
    width: 100%;
    padding: 120px 0;
    color: #fff;
}
.info{
  display: flex;
  align-items: flex-start;
  margin: 0 270px 65px 105px;
}
.about{
    font: 400 20px 'Roboto', sans-serif;
    width: 200px;
    margin-right: 220px;
}
.about-title{
  font: 500 20px 'Roboto', sans-serif;
}
.types{
    font: 400 20px 'Roboto', sans-serif;
    width: 140px;
    margin-right: 280px;
}
.types-title{
  font: 500 20px 'Roboto', sans-serif;
}
.contact{
    font: 400 20px 'Roboto', sans-serif;
    width: 240px;
}
.support-title{
  font: 500 20px 'Roboto', sans-serif;
}
.copyright{
    margin-left: 105px;
    font: 400 20px 'Roboto', sans-serif;
}